@media (max-width: 2500px) and (min-width: 1000px) {
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		position: relative; /* Adicionado para o posicionamento do pseudo-elemento */
	}
	.div-unica-editarformulario {
		width:div-dupla 90%;
		display: flex;
		font-size: 1rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.div-unica-editarformulario, input, select{
		width: 90%;
	}
	.div-unica-editarformulario:hover {
		transform: scale(1.0450)
	}
	.div-dupla {
		padding: 10px;
		width: 96%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
		border: 1px solid black;
	}
	.div-unica-esquerda {
		display: flex;
		justify-content: space-between;
		width: 50%;
		border: none;
		transition: transform 0.3s ease;
	}
	.div-unica-esquerda:hover {
	}

	.div-unica-direita {
		display: flex;
		justify-content: space-between;
		width: 48%;
		transition: transform 0.3s ease;
	}
	.div-unica-direita:hover {
	}

	.div-unica {
		margin: 5px;
		width: 55%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		transition: transform 0.3s ease;
	}
	.div-unica:hover {
	}
	.div-unica input {
		width: 50%;
	}
	.div-unica select {
		width: 52%;
		text-align: center;
	}

	.div-button {
		display: flex;
		justify-content: space-around;
		width: 300px;
		gap: 10px;
	}
	.btn1 {
		padding: 8px 16px;
		background-color: rgb(8, 96, 155);
		color: #fff;
		border: none;
		border-radius: 4px;
		font-size: 16px;
		cursor: pointer;
		width: 40%;
		margin: 0 auto;
		display: block;
		margin-top: 25px;
		margin-bottom: 50px;
	}

	.btn1:hover {
		background-color: rgb(108,196,255);
	}
	.btn2 {
		background-color: rgb(8, 96, 155);
		transition: background-color 0.2s ease;
		padding: 8px 16px;
		color: #fff;
		border: none;
		border-radius: 4px;
		font-size: 16px;
		cursor: pointer;
		width: 40%;
		margin: 0 auto;
		display: block;
		margin-top: 25px;
		margin-bottom: 50px;
	}
	.btn2:hover {
		background-color: rgb(159, 159, 159);
	}

	label {
		margin-top: 16px;
		font-size: 20px;
		font-weight: 900;
		text-align: center;
	}

	h1 {
		display: flex;
		font-size: 40px;
		justify-content: center;
		margin-bottom: 30px;
		color: rgb(8, 96, 155);
	}

	input,
	select {
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 14px;
		text-align: center;
		margin-top: 8px;
		height: 20px;
		background-color: #e4f2ff; /* adicionado para contraste azulado */
	}

	select {
		height: 40px;
	}

	input:focus {
		background-color: #c4e4ff; /* adicionado para destacar o input ativo */
		text-align: center;
	}
	select:focus {
		background-color: #c4e4ff; /* adicionado para destacar o input ativo */
		text-align: center;
	}

	/* Adicionado pseudo-elemento */
	form::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 4px;
		width: 100%;
		background-color: #ccc;
	}
}
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */

@media (max-width: 999px) and (min-width: 1px) {
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		text-align: center;
		position: relative; /* Adicionado para o posicionamento do pseudo-elemento */
	}

	.div-dupla {
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.div-dupla select {
		width: 63%;
	}
	.div-unica-esquerda-form {
		width: 90%;
		/* border: 1px solid black; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: none;
		transition: transform 0.3s ease;
	}
	.div-unica-esquerda-form:hover {
		transform: scale(1.075);
	}
	.div-unica-esquerda-form input {
		width: 85%;
		border: none;
	}

	.div-unica-direita-form {
		width: 90%;
		/* border: 1px solid black; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: none;
		transition: transform 0.3s ease;
	}
	.div-unica-direita-form:hover {
		transform: scale(1.075);
	}
	.div-unica-direita-form input {
		width: 85%;
		border: none;
	}

	.div-unica {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: baseline;
		transition: transform 0.3s ease;
	}
	.div-unica:hover {
		transform: scale(1.075);
	}
	.div-unica input {
		width: 75%;
	}
	.div-unica select {
		width: 75%;
		text-align: center;
	}

	.div-button {
		display: flex;
		justify-content: space-around;
		width: 35%;
		gap: 10px;
	}

	.btn1 {
		padding: 8px 16px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 4px;
		font-size: 16px;
		cursor: pointer;
		width: 40%;
		margin: 0 auto;
		display: block;
		margin-top: 25px;
		margin-bottom: 50px;
	}

	.btn1:hover {
		background-color: #00ff2a;
	}
	.btn2 {
		background-color: gray;
		transition: background-color 0.2s ease;
		padding: 8px 16px;
		color: #fff;
		border: none;
		border-radius: 4px;
		font-size: 16px;
		cursor: pointer;
		width: 40%;
		margin: 0 auto;
		display: block;
		margin-top: 25px;
		margin-bottom: 50px;
	}
	.btn2:hover {
		background-color: rgb(255, 255, 0);
	}

	label {
		margin-top: 16px;
		font-size: 20px;
		font-weight: 900;
		text-align: center;
	}

	h1 {
		display: flex;
		font-size: 1.5rem;
		justify-content: center;
	}

	input,
	select {
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 14px;
		margin-top: 8px;
		height: 20px;
		text-align: center;
		background-color: #e4f2ff; /* adicionado para contraste azulado */
	}

	select {
		height: 40px;
	}

	input:focus {
		background-color: #c4e4ff; /* adicionado para destacar o input ativo */
		text-align: center;
	}
	select:focus {
		background-color: #c4e4ff; /* adicionado para destacar o input ativo */
		text-align: center;
	}

	/* Adicionado pseudo-elemento */
	form::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 4px;
		width: 100%;
		background-color: #ccc;
	}
}

/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
